@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #fdfc00;
    color: #000;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    background-color: #ffffff;
    border: 4px solid #000;
    box-shadow: 8px 8px 0px #000;
    padding: 20px 50px 50px 50px;
    max-width: 700px;
    margin: 0 auto;    
    text-align: center; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

ul {
    list-style: square;
    padding-left: 20px;
    margin: 0 auto;
    display: block;
    text-align: left;
}


li {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

a {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px 16px;
    text-decoration: none;
    color: #000;
    background-color: #00f5d4;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    font-weight: bold;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

a:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
}

.profile-img {
    width: 100%;
    max-width: 260px;      
    height: auto;
    margin: auto;
    display: block;
    background-color: #fff;
}